//- Deafault
mixin btn(href='', idSvg='', btnText='', id='', btnCls='', btnLogoCls='', btnTextCls='')
    a(id=id class='btn ' + btnCls href=href)
        svg(class='btn__logo ' + btnLogoCls)
            use(xlink:href=idSvg)
        p(class='btn__text ' + btnTextCls)=btnText

//- Production
mixin productionItem(src, alt, title, text1, text2)
    .production__item(data-aos='zoom-out' data-aos-duration='1000' data-aos-once='true')
        .production__img-wrapper
            img.production__img(src=src, alt=alt)
        .production__text
            h2=title
            p=text1
            p=text2

//- Form
mixin formGroup(id, labelValue, inputType, name, required)
    .form__group
        label(for=id)=labelValue
        input(id=id type=inputType name=name required=required)

//- Catalog
mixin catalogItem(href, src, alt, text)
    a.catalog__item(href=href data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
        section
            img.catalog__item-img(src=src alt=alt)
            .catalog__item-text
                h2=text

//- Client
mixin clientItem(src, alt, minDescr)
    .client__item(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
        .client__item-logo
            .client__img
                img(src=src alt=alt)
            div
                p=minDescr

//- Service
mixin serviceItem(title, active='')
    div(class='service__item')
        h2 #{title}
            span(class='pos-r')
                span(class='service__arrow ' + active)
        div(class='service__item-content ' + active)
            .content-h
                block