extends layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true')=product.name

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src=product.image.src alt=product.image.alt)
                include partials/info-contact.pug

            if product.content
                .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                    each obj in product.content
                        case obj.type
                            when 'paragraph'
                                each p in obj.data
                                    p=p
                            when 'title'
                                h3=obj.title
                            when 'list'
                                ul
                                    each li in obj.data
                                        li=li
                            when 'images'
                                .product__body-images.f-wrap
                                    each image in obj.images
                                        .product__body-group
                                            div
                                                img(src=image.src alt=image.alt)
                                                if image.name
                                                    i=image.name
                    include partials/info-service.pug