extends ../layouts/catalog.pug

block content
    .catalog__body
        each product in products
            if product.isSubcategory
                +catalogItem(
                    `/catalog/${product.translit}`,
                    `${product.image.src}`,
                    `${product.name}`,
                    `${product.name}`)
            else
                +catalogItem(
                    `/products/${product.translit}`,
                    `${product.image.src}`,
                    `${product.name}`,
                    `${product.name}`)