extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Бытовые кондиционеры

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/bytovye-kondicionery.jpg' alt='бытовые кондиционеры')
                .product__header-text
                    p=info.supText
                    each phone in info.phones
                        a(href='tel:' + phone)=phone
                    span=info.time
                    p=info.subText

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Бытовые кондиционеры для квартиры стали обычной принадлежностью современного человека. Лучшие бытовые кондиционеры не обязательно должны быть дорогими, хотя и потребуют существенных материальных затрат. Главное при покупке бытового кондиционера - быть внимательным, правильно выбрать его тип и параметры. Очень важно принять действительно правильное решение. Тогда кондиционер станет надежным другом и помощником.
                p Мощность бытовых кондиционеров может варьироваться в зависимости от модели от 1 до 10 кВт. Этого достаточно для кондиционирования воздуха в помещении площадью от 10-20 до 80-100 м². Предназначены такие кондиционеры в первую очередь для частных домов и квартир, но встретить их можно и в офисных или торговых помещениях небольшой площади.
                p Учитывая назначение бытовых кондиционеров, их производители основное внимание уделяют повышению комфортности пользования путем снижения уровня шума и добавления новых функций, а также улучшению дизайна внутреннего блока.
                p Большинство бытовых кондиционеров рассчитано на работу в течение 8-10 лет. Впрочем, многие потребители, поддавшись современным тенденциям, заменяют их раньше, поскольку на рынке постоянно появляются новые модели с более интересными дополнительными функциями.
                h3 Моноблочные кондиционеры
                p Все элементы моноблочного кондиционера, как следует из его названия, размещаются в одном корпусе. Следствием простоты конструкции является сравнительно низкая стоимость оборудования, и это главное достоинство моноблочных систем.
                p Существует два вида кондиционеров для квартиры без внешнего блока:
                .product__body-images
                    .product__body-group.f-wrap
                        div
                            img(src='/assets/product/img/okonnyj-kondicioner.jpg' alt='оконный кондиционер')
                            i Оконный кондиционер
                        div
                            img(src='/assets/product/img/mobilnyj-kondicioner.jpg' alt='мобильный кондиционер')
                            i Мобильный кондиционер
                p <b>Оконные кондиционеры</b>
                p Оконные кондиционеры, задняя часть корпуса которых выставляется на улицу через отверстие в стекле, когда-то были очень популярны, однако сегодня спрос на них сильно упал, в связи с чем и производить их стали существенно меньше. Падение спроса на подобные модели стало следствием появления сплит-систем, конкуренции с которыми «оконники» не выдержали.
                p Действительно, у оконных моноблоков множество недостатков. Они обладают невысокой мощностью, но при этом производят много шума. Лишь немногие из них умеют нагревать воздух, большинство же имеют только режим охлаждения. Кроме того, монтаж оконного кондиционера - это неизбежное нарушение теплоизоляции помещения, что довольно критично для жителей многих регионов нашей страны.
                p По сути, невысокая стоимость и простота монтажа являются единственными достоинствами оконных кондиционеров, практически не компенсирующими перечисленные выше минусы.
                p <b>Мобильные кондиционеры</b>
                p Мобильный кондиционер - единственный вид оборудования для кондиционирования воздуха, который пользователь может установить без привлечения специалистов. Задача эта действительно самая что ни на есть простая: достаточно вывести в приоткрытое окно или форточку гибкий шланг воздуховода, предназначенного для отведения нагретого воздуха, и кондиционер готов к работе.
                p Еще одно несомненное достоинство мобильных кондиционеров - возможность их перемещения: при необходимости технику легко можно перенести в другую комнату, перевезти на новую съемную квартиру или даже прихватить с собой, отправляясь на дачу.
                p На этом, увы, достоинства мобильных кондиционеров заканчиваются, дальше следуют лишь недостатки:
                ul
                    li Во-первых, в пределах комнаты кондиционер мало мобилен: он должен находиться вблизи окна, поскольку длина шланга воздуховода невелика, а удлинять его не рекомендуется;
                    li Во-вторых, компрессор кондиционера производит довольно сильный шум, который перекрывает даже звуки, доносящиеся из вынужденно открытого окна;
                    li В-третьих, владельцам подобных систем придется регулярно вручную удалять скапливающийся конденсат;
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/nastennye-split-sistemy.jpg' alt='настенные сплит системы')
                h3 Сплит-системы
                p Сплит-система – двухблочный кондиционер, более популярный сегодня, чем моноблоки. Его конструкционные элементы разнесены по двум блокам – внутреннему (комнатному) и наружному (уличному). Блоки эти расположены в разных точках пространства, но соединены между собой трубками, по которым циркулирует хладагент.
                p Благодаря такому конструкционному решению наиболее шумный узел кондиционера – компрессор – оказывается вынесенным за пределы помещения. Тихий же и компактный внутренний блок может быть размещен практически в любом месте комнаты – там, где вам это будет наиболее удобно.
                p <b>Настенные сплит системы</b>
                p Настенные сплит-системы – самый популярный сегодня и потому наиболее распространенный тип кондиционеров. Часто их называют комнатными или домашними кондиционерами, поскольку в частных домах и квартирах, как правило, устанавливают именно их. Мощность бытовых настенных сплит-систем может варьироваться от 2 до 10 кВт в зависимости от выбранной модели.
                p <b>Фиксированные мульти-сплит-системы настенного типа</b>
                p К одному внешнему блоку такого кондиционера можно подключить два или даже три внутренних. При этом каждый будет настраиваться индивидуально, со своего пульта управления. Подобные «конструкторы» именуются мульти-сплит-системами. Мультисистемы бытового назначения продаются готовыми комплектами, не оставляющими пользователю возможности для маневров: изменять количество подсоединяемых внутренних блоков и их суммарную мощность нельзя.
                p При всей их кажущейся привлекательности к использованию мульти-сплит-систем прибегают крайне редко. Как правило, их выбирают лишь при нежелании (или невозможности) размещать нескольких внешних блоков на наружной стене дома (согласитесь, последние не украшают фасад здания). Дело в том, что вопреки довольно распространенному мнению, вам не удастся сэкономить, заменив несколько сплит-систем на одну мульти-сплит.
                p Суммарная стоимость оборудования в обоих случаях будет примерно одинаковая, а вот стоимость монтажа мульти-сплит-системы окажется в 1.5-2 раза выше, поскольку возрастет длина коммуникаций.
                .product__body-service
                    h3=info.service.title
                    each p in info.service.text
                        p=p