extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Фланцевая шина

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/flancevaya-shina.jpg' alt='фланцевая шина')
                .product__header-text
                    p=info.supText
                    each phone in info.phones
                        a(href='tel:' + phone)=phone
                    span=info.time
                    p=info.subText

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Монтажная шина для создания фланцевых соединений на воздуховодах прямоугольного сечения.
                p Шина монтажная фланцевая – это «L»-образный профиль, с помощью которого изготавливаются фланцы систем вентиляции, а затем монтируется вся система воздухообмена в зданиях и сооружениях. Применяются такие шины в вентиляционных трубопроводах, имеющих прямоугольное сечение. С помощью шинорейки воздуховод становится герметичным, не нужно применять различные виды герметиков, серьезно экономится время установки всей системы воздухообмена.
                h3 Шина фланцевая из оцинкованной стали
                p Системы вентиляции прямоугольного сечения – это сложные многометровые конструкции, которые соединяются друг с другом определенными элементами различной конфигурации. В большинстве случаев для соединения воздуховодов применяют фланцевые соединения на основе монтажных шинореек.
                p Изготовлена фланцевая шина из стального уголка, покрытого слоем цинка, толщиной 8-10 микрон. У нас можно купить шины размером 20 и 30 мм и длиной 3 метра. В упаковке 20 фланцевых шин, такое количество вполне достаточно для монтажа воздуховода среднего размера.
                p Используется монтажная шина для:
                ul
                    li Фланцев;
                    li Вытяжных вентиляционных зонтов;
                    li Гибких вставок;
                    li Разнообразных переходов систем вентиляции;
                p С помощью фланцев воздуховоды вентиляции соединяются между собой. Фланцы, которые состоят из шинореек и металлических уголков, надежно соединяют вентиляционные короба и фасонные изделия. Шинорейки 20 можно использовать, когда любая сторона трубы системы вентиляции равна или меньше полуметра. Если она больше 500 мм нужно применить шину 30.
                p Фланцы из монтажных шин можно изготовить непосредственно на производстве или смонтировать их на самом объекте перед тем, как установить вентиляцию. Оцинкованные стальные шинорейки применяются для изготовления воздуховодов из такого же материала.
                .product__body-service
                    h3=info.service.title
                    each p in info.service.text
                        p=p