extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Гибкие вставки

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/gibkie-vstavki.jpg' alt='гибкие вставки')
                .product__header-text
                    p=info.supText
                    each phone in info.phones
                        a(href='tel:' + phone)=phone
                    span=info.time
                    p=info.subText

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Гибкая вставка предназначена для устранения вибрации, вызванной работой приточных установок, вентиляторов или других подающих воздух устройств, в интервалах температур от -50°С до +80°С и влажности до 60%, присоединяемых к воздуховодам.
                p Гибкие вставки для вентиляции состоят из полоски специально обработанного материала (робаст), герметично соединенного с двумя стальными оцинкованными посадочными элементами.  В зависимости от размера воздуховода, вставки изготавливаются нескольких размеров с шириной  130 мм или 240 мм.
                h3 Применение гибких вставок
                p Для того, чтобы устранить вибрацию, вызванную работой приточных установок, вентиляторов или других подающих воздух устройств, присоединяемых к воздуховодам, рекомендуется устанавливать гибкие соединительные вставки между выходом устройства и воздуховода. Необходимо применение герметичного, гибкого материала с хорошими температурными характеристиками, чтобы исключить влияние окружающей среды на температуру воздуха внутри воздуховода. Трудность задачи заключается в получение полностью герметичного соединения материала, гасящего колебания со стальным воздуховодом.
                p Для улучшения герметичности поперечного шва гибкой вставки рекомендуется проклеивать робаст и после весь шов промазать силиконом. Можно использовать клей для резины или строительный фен.
                p Мы предлагаем вам купить готовые к установке герметичные, устойчивые к механическим колебаниям соединительные гибкие вставки по низкой цене. Они состоят из полоски специально обработанного материала, герметично соединенного с двумя стальными посадочными элементами.
                h3 Подробное описание материала
                p Робаст. Гибкая соединительная вставка - Поливинилхлорид/Ткань с виниловым покрытием:
                ul
                    li Хорошая устойчивость к механическим колебаниям;
                    li Хорошая эластичность, запас прочности на разрыв;
                    li Водостойкость;
                    li Многофункциональность;
                    li Устойчивость к высоким температурам до +70°C;
                p Неопрен. Гибкая соединительная вставка - Ткань с неопреновым покрытием
                ul
                    li Хорошая устойчивость к механическим колебаниям;
                    li Невоспламеняемый;
                    li Устойчивость к агрессивным средам;
                    li Устойчивость к высоким температурам до +100°C;
                p Полиуретан. Гибкая соединительная вставка - Ткань с полиуретановым покрытием
                ul
                    li По классификации М0;
                    li По классификации 4000С/12h;
                    li BS 476 part 6,7 (1 класс) и 20 (75 мин);
                    li По классификации EMPA;
                    li Устойчивость к высоким температурам до +200°C;
                    li Устойчивость к низким температурам до -50°C;
                p Силикон. Гибкая соединительная вставка - Ткань с силиконовым покрытием
                ul
                    li Устойчивость к высоким температурам до +280°C;
                    li Устойчивость к низким температурам до -40°C;
                    li Устойчивость к агрессивным средам;
                    li Хорошая устойчивость к климатическим изменениям;
                .product__body-service
                    h3=info.service.title
                    each p in info.service.text
                        p=p