extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Гофрированные трубы

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/gofrirovannye-truby.jpg' alt='гофрированные трубы')
                .product__header-text
                    p=info.supText
                    each phone in info.phones
                        a(href='tel:' + phone)=phone
                    span=info.time
                    p=info.subText

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Гофрированная труба представляет собой конструкцию с поперечным сечением, имеющим переменные значения. В изделии чередуются равные участки меньшего диаметра с тонкими стенками и большего – с толстыми.
                p Это практичное и удобное техническое изобретение, позволяющее упростить обустройство инженерных систем и сделать их более надежными и защищенными. Эти изделия используются повсеместно – от реализации крупномасштабных промышленных проектов до прокладки бытовых коммуникаций.
                p Основное достоинство таких изделий и причина универсальности их использования – рельефная конструкция, которая обеспечивает прочность гофрированной трубе.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/bumaga-ruchka.jpg' alt='бумага, ручка')
                h3 Особенности гофрированных труб
                p Главная особенность, которая обуславливает широкое применение гофрированных труб, – их строение. Конструкции со складчатой системой имеют одно- или двухслойное строение: внутренняя поверхность идеально гладкая, внешняя – ребристая. Равномерно чередующиеся участки с малым и большим диаметром выполняют определенные функции. Тонкие части меньшей окружности позволяют трубе изгибаться в любом направлении, тем самым облегчая прокладку и монтаж коммуникации. Участки с большим диаметром придают гофрированной трубе нужную кольцевую жесткость в поперечном сечении, делая конструкцию ударопрочной и надежной.
                p Эти же конструкционные особенности позволяют трубе растягиваться в длину: в собранном состоянии узкие участки прячутся под широкими секциями: это упрощает транспортировку изделий.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/gofrirovannye-truby-2.jpg' alt='гофрированные трубы')
                h3 Технические характеристики гофрированных труб
                p Технические характеристики труб из гофры и нормы, регулирующие стандарты, зависят от материала изготовления, конструктивного исполнения и назначения изделий. Наиболее распространенными материалами для изготовления гофротруб являются металл, поливинилхлорид и полиэтилен.
                p Для металлической гофры производитель устанавливает такие требования:
                ul
                    li Амплитуда рабочей температуры – до 100⁰C;
                    li Диапазон давления – от 10 до 65 бар;
                    li Внутренний диаметр – от 12 до 60 мм;
                    li Разрушающее давление – 210 бар;
                    li Радиус изгиба, в зависимости от диаметра металла, - от 30 до 150 мм;
                    li Толщина стенок труб – 0,25-30 мм;
                p Гофрированные металлические трубы больших диаметров используются для прокладки водостоков в искусственных дорожных сооружениях и регламентируются ОСТ 35-22-83 «Трубы водопропускные из гофрированного металла под насыпи железных и автомобильных дорог. Технические условия».
                p Общие технические показатели изделий из ПНД – плотного и прочного на разрыв полимера – таковы:
                ul
                    li Температура плавления – до 130⁰C;
                    li Амплитуда рабочих температур – от -40 до 90⁰C;
                    li Устойчивость к истрескиванию – при температуре до -70⁰C;
                    li Гибкость кольцевая, позволяющая изгибать изделие до 360⁰;
                    li Показатель прочности, в зависимости от серии, – свыше 320 до 1250 Н на 5 см;
                    li Гидро, шумо и газоизолирующие свойства;
                    li Малая теплоотдача;
                    li Температура размягчения - от 76⁰C;
                    li Инертность к химическим соединениям;
                    li Долгий – до 50 лет – срок службы;
                p Требования к полиэтилену регламентируется стандартами ГОСТ 16338-85. Технические условия производства гофрированных труб ПНД: для канализационных систем устанавливает ГОСТ Р 54475-2011, для электротехнических установок регулируются ГОСТом 32123.1-2013. При изготовлении гофрированных труб из полиэтилена многие производители руководствуются ТУ, не противоречащим условиям ГОСТ.
                p Существуют виды труб, внутренний слой которых выполнен из полиэтилена высокого давления, а внешний гофрированный – из полиэтилена низкого давления. Характеристики ПНД регулирует ГОСТ 16338, а нормы ПВД регламентируется ГОСТом 16337.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/gofrirovannye-truby-3.jpg' alt='гофрированные трубы')
                h3 Виды гофрированных труб
                p Разновидности гофрированных труб классифицируются по нескольким показателям:
                ul
                    li По материалу, из которого они изготовлены;
                    li Конструкции или типу прочности гофры;
                    li По назначению;
                p <b>Классификация по виду материала</b>
                p Производители помечают гофрированные трубы различными цветами в зависимости от того, из какого сырья изготовлены изделия.
                p В настоящее время выпускаются следующие виды гофротруб из материалов:
                ul
                    li Нержавеющая сталь. Трубы отличаются устойчивостью к коррозии и воздействию едких химических веществ, легкостью в монтаже. Оцинкованные изделия водонепроницаемы и невосприимчивы к ультрафиолету. Минусы – трубы из нержавейки неустойчивы к агрессивному влиянию окружающей среды и механическим повреждениям: в результате частых перегибов в одном месте структура может нарушиться;
                    li Алюминий. Такие изделия используются для вентиляционных каналов, кухонных вытяжек, дымоходов. Плюсы алюминиевых гофротруб – высокая гибкость, компактность, устойчивость к коррозии, легкость монтажа, малый вес. Недостатки – высокая теплопроводность и мягкость материала, которая сокращает срок эксплуатации;
                    li Поливинилхлорид. Трубы серого цвета используются для защитного слоя при прокладке коммуникаций. Достоинствами материала являются негорючесть, высокие изоляционные свойства, малый вес и коррозийная стойкость. Минусы – подверженность воздействию ультрафиолета и высоких температур;
                    li Полиэтилен высокого и низкого давления. Маркируется синим цветом. Наиболее распространенный материал, обладающий универсальными свойствами. Гофрированные трубы ПНД и ПВД устойчивы к низким температурам, механическому воздействию и влиянию агрессивных веществ, имеют высокую пропускную способность, легки в монтаже. На внутренних стенках не образуется налет. Еще один плюс – доступная цена изделий. Подробнее о гофротрубах ПНД можно почитать в другой нашей статье;
                p Для прокладки наружных коммуникаций, в основном, используются трубы ПНД; для обустройства внутренних систем – из полиэтилена высокого давления. Основной недостаток материала – неустойчивость к воздействию ультрафиолета, поэтому при монтаже внешних инженерных сетей следует позаботиться об их защите от прямых солнечных лучей.
                p <b>Классификация по типу прочности</b>
                p По типу надежности и устойчивости к нагрузкам гофрированные трубы подразделяют на следующие категории:
                ul
                    li Лёгкие – с минимальной (1-2 мм) толщиной стенок и высокой гибкостью, выдерживающие малую нагрузку; Используются для обустройства наружных конструкций.
                    li Средние – более прочные (толщина стенки – до 3 мм), можно использовать для прокладки в стену и стяжку, но не применяются для горизонтального монтажа;
                    li Тяжёлые. Имеют хорошую жесткость и устойчивость к механическим нагрузкам, высокую влагостойкость. Толщина стенки 5-7 мм ограничивает трубы в гибкости, поэтому для монтажа нужно использовать уголки и фитинги;
                    li Сверхтяжёлые. Особо прочные трубы, которые применяют в обустройстве коммуникаций с высокой нагрузкой – например, под автомагистралью;
                    li Армированные трубы усилены металлической проволокой, закрученной в спираль. Выдерживают максимальные нагрузки в до 4000 Н на 5 см. Подходят для монтажа в грунт, например, для подключения скважинных колодцев, а также используются при обустройстве подвесных коммуникаций;
                p Кроме представленных категорий, есть гофрированные трубы одно- и двухслойные. Полиэтиленовые двухслойные трубы имеют гладкую внутреннюю оболочку, а металлические – внешнее полимерное покрытие. Трубы, предназначенные для прокладки электросетей, оснащаются зондом для протяжки кабелей.
                p <b>Классификация по назначению</b>
                p Трубы из гофры по сфере применения подразделяют на две большие категории:
                ul
                    li Для электротехнических работ;
                    li Для прокладки инженерных коммуникаций;
                p Гофрированные трубы для протяжки электрического кабеля реализуются в бухтах – отрезки от 50 до 100 метров длиной. В комплект может входить зонд для облегчения прокладки. Для электрических кабелей используют изделия диаметром от 16 до 65 мм.
                p Для канализации используют гофрированные полиэтиленовые или полипропиленовые трубы, маркированные черным или светло-серым цветом. Это трубы больших размеров, имеющие диаметр от 110 до 300 мм, может быть и больше. С их помощью монтируется внутридомовая, санитарная, безнапорная и ливневая канализация. Трубы для ливневой канализации диаметром свыше 300 мм имеют повышенную жесткость, поэтому лишены гибкости: для поворотов при монтаже необходимо использование переходников.
                p Для систем отопления используется полиэтиленовая и металлическая гофра. Трубы из ПНД диаметром 18, 24, 29 мм применяются для защиты отопительных элементов от теплопотерь и механических повреждений, металлические изделия – для обустройства теплых полов, радиаторов, подачи горячей воды.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/santimetrovaya-lenta.jpg' alt='сантиметровая лента')
                h3 Размеры гофрированных труб
                p Гофротрубы в зависимости от конструкции и назначения могут иметь различные размерные параметры. Приведем основные, широко распространенные размеры гофрированных труб.
                p Стандартные показатели изделий для работ с электрическими кабелями:
                ul
                    li 16мм;
                    li 20мм;
                    li 22мм;
                    li 40мм;
                    li 50мм;
                p Так же существуют и трубы, которые имеют большие диаметры. Они обычно используются для организации канализационной или водопроводной системы:
                ul
                    li 110мм;
                    li 160мм;
                    li 200мм;
                    li 225мм;
                    li 250мм;
                    li 285мм;
                    li 315мм;
                    li 340мм;
                    li 400мм;
                    li 500мм;
                    li 630мм;
                p Показатели кольцевой жесткости изделий варьируются от SN2 до SN16.
                p Типоразмеры гофрированных труб в соответствии со сферой их использования регламентируются ГОСТами. Здесь приведены стандартные размеры, но при необходимости можно купить изделия даже с диаметром 2400 мм.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/gofrirovannye-truby-4.jpg' alt='гофрированные трубы')
                h3 Гофрированные трубы применяются
                p Технические показатели, широкий диапазон материалов изготовления, размеров делают гофрированные трубы универсальными: они применяются при монтаже инженерных коммуникаций различного назначения:
                ul
                    li Канализация. Двухслойные полиэтиленовые трубы из гофры диаметром 200 и 800 мм применяют для прокладки наружных систем: такие изделия выдерживают вес почвенного слоя на глубине до 15 метров. Для монтажа внутренних коммуникаций используются трубы диаметром от 40 до 11 мм;
                    li Прокладка электрического кабеля. Трубы диаметром 16-63 мм используют как защитные короба при проведении телевизионных, телефонных, электрических коммуникаций;
                    li Газоснабжение. Гофра из нержавейки в защитном кожухе из полиэтилена применяется для подключения бойлеров, настенных котлов, газовых плит к центральной системе подачи газа;
                    li Водоснабжение. При нагреве гофра компенсирует линейное расширение, поэтому ее используют для систем подачи горячей воды. Трубы не поддаются коррозии, не выделяют токсичные вещества, на их стенках не образуются отложения, поэтому гофрированные изделия можно смело использовать для подачи питьевой воды;
                    li Обустройство вентиляции. Диаметр труб подбирают в соответствии с протяженностью вентиляционного канала и мощностью системы;
                    li Водоотведение. Для дренажа и обустройства ливнестоков применяются специальные гофротрубы с перфорацией. Морозостойкие прочные изделия подходят для монтажа подземных коммуникаций;
                    li Монтаж систем отопления. Металлические гофрированные трубы используются для обустройства теплого пола, радиаторов отопления;
                p Кроме того, гофрированные трубы применяются при монтаже различных сооружений в строительстве, для транспортировки химических веществ, а также в сферах, где требуется установка гибких конструкций.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/preimushchestva-i-nedostatki.jpg' alt='преимущества и недостатки')
                h3 Преимущества и недостатки гофрированных труб
                p Гофрированные трубы, независимо от материалов изготовления, обладают важными достоинствами, которые обуславливают их выбор для сооружения инженерных коммуникаций:
                ul
                    li Малый вес, упрощающий процесс транспортировки, складирования и монтажа конструкций;
                    li Высокая гибкость: труба растягивается и восстанавливает прежнюю форму, при монтаже нужно минимальное количество фитингов;
                    li Антикоррозийность. Любые гофротрубы устойчивы к разрушению в условиях повышенной влажности;
                    li Высокая кольцевая жесткость и механическая прочность, позволяющие использовать трубы в различных сферах;
                    li Простота монтажа и ремонта, без применения специального оборудования и привлечения спецтехники;
                    li Отличная пропускная способность;
                    li Длительные сроки эксплуатации: трубопроводы из гофры могут прослужить до 50 лет;
                    li Доступная цена по сравнению с другими видами трубопроката;
                p В зависимости от характеристик сырья, из которого сделаны трубы, определяются недостатки изделий.
                p В целом, для труб использующихся в повседневном быту, а именно - в домах и оффисах, можно выделить следующие минусы:
                ul
                    li Во-первых, уход за ребристой поверхностью осуществлять сложнее, чем за гладкой;
                    li Во-вторых, специфический вид трубы не всегда вписывается в дизайн интерьера;
                p Однако эти недостатки легко устраняются: пыль на кольцах можно убрать с помощью щетки. А выбивающуюся из общей концепции помещения гофротрубу прикрывают пластиковым кожухом.
                p Таким образом, можно с уверенностью сказать, что гофрированные трубы, при должном подходе, являются отличным выбором вне зависимости от характера работ - от прокладки канализации до организации кабелей в небольшом помещении.
                .product__body-service
                    h3=info.service.title
                    each p in info.service.text
                        p=p