extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Хомуты

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/khomuty.jpg' alt='хомуты')
                .product__header-text
                    p=info.supText
                    each phone in info.phones
                        a(href='tel:' + phone)=phone
                    span=info.time
                    p=info.subText

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Хомут - это кольцевой крепежный элемент, служащий для прочного соединения элементов трубопроводов, гибких рукавов (шлангов), закрепления кабельных разводок. Хомут с резиновой подложкой  часто используют в качестве временной меры при ремонте систем отопления и водоснабжения, когда нужно быстро закрыть протечку.
                p Данный тип крепежа используют в различных сферах промышленного производства, строительства, автомобилестроения. Широкий спрос на хомутовые изделия объясняется надежностью и простотой использования, большим разнообразием видов и модификаций.
                h3 Вентиляционные хомуты
                p Вентиляционные хомуты являются лучшим типом крепежа круглых воздухоотводов друг к другу, к стенам, потолку и другим ограждающим конструкциям. При их помощи можно монтировать как обычные, так и изолированные воздушные каналы.
                p Используются для фиксации вентиляционных систем. Отличаются такие хомуты конфигурацией. Вентиляционные крепежи изготавливаются из двух пластин разных видов тонкой стали, которые между собой крепятся болтами и гайками.
                p Типы и особенности конструкции. В зависимости от назначения, их принято разделять на две основные группы:
                ul
                    li Обжимные, представляют собой устройства круглой формы, изготовленные из стальной ленты, затягивающиеся с одной стороны при помощи болтового соединения. Такие зажимы могут выпускаться различной ширины, с виброгасящей вставкой или без нее;
                    li Монтажные хомуты для крепления воздуховодов, как правило, состоят из двух полукруглых стальных полос, стягиваясь между собой с двух противоположных сторон при помощи болтового соединения. Так же, как и обжимные, монтажные зажимы могут иметь виброгасящую резиновую вставку;
                p Крепление воздуховодов к потолку происходит посредством забивного анкера и резьбовой шпильки, которая одной стороной фиксируется непосредственно в устройстве, а второй стороной – в перекрытии. Их называют хомутами с центральным креплением.
                p Существуют устройства, которые фиксируются на ограждающих конструкциях посредством двух шпилек, поэтому имеют боковые крепления.
                p Существует еще один вид монтажных зажимов – это стеновые. В зависимости от конструкции они могут быть регулируемыми и не регулируемыми. В регулируемых, посредством специального механизма регулируется просвет между стеной и воздухопроводом.
                h3 Червячные хомуты
                p Такие модели походят для вида прочного соединения шлангов или других эластичных материалов. Чаще всего это временные крепежи, которые быстро можно установить и демонтировать. Червячные хомуты используются по несколько раз. При качественном выборе вида крепежа можно плотное герметичное прилегание деталей.
                h3 Ремонтные хомуты
                p Используются для герметизации трубопроводов. Для монтажа таких видов крепежей не понадобится сварка. Для более плотного соединения в таких хомутах есть резиновый уплотнитель. Для правильного выбора ремонтного хомута нужно учитывать давление в трубе. Ремонтные хомуты применяются для быстрого устранения аварийных ситуаций в системах водопровода. Трещины и деформации труб могут возникать в результате негативного воздействия коррозии или при неправильном выполнении сварочного шва. Ремонтные хомуты хороши тем, что их можно фиксировать без обязательного слива воды. Различают многоставные, односторонние и двусторонние хомуты. Двусторонние затягиваются болтами, односторонние – фиксируются поперечной перемычкой. Многосоставные хомуты состоят из 3 и более элементов, какие применяются для труб увеличенного диаметра
                h3 Пластиковые хомуты
                p Для производства таких хомутов применяют нейлон. Сегодня стяжки из легкого и прочного нейлона нашли свое применение в быту, промышленной индустрии, строительстве, в сельском хозяйстве, упаковочной отрасли, транспорте и в электронике.
                h3 Трубные хомуты
                p Применяются для фиксирования труб к стенам или другим несущим конструкциям. В продаже имеются различные диаметры, хомуты с определенными максимально допустимыми нагрузками.
                p Разновидности трубных хомутов:
                p Трубные хомуты используются в быту и промышленных целях. Их можно применять внутри помещений и для наружных работ. Такие крепежи считаются эффективным методом герметизации и монтажа труб в различных сантехнических, отопительных и электрических коммуникациях. Производители предлагают ассортимент хомутов в разной отделке. Встречаются тонкие типы хомутов для монтажа тонких кабелей, а также для установки систем отвода большого диаметра.
                ul
                    li Хомуты для сантехники – распространенный вид  хомутов, предназначенных для безопасной фиксации  трубопроводов различного диаметра. Чтобы правильно подобрать хомут для сантехники, нужно рассчитать диаметр, продумать материал крепежа в соответствии с типом водопроводной или дренажной трубы;
                    li Водосточные хомуты крепятся к лицевым панелям большинства наружных кровель. Монтируются с помощью кронштейнов. Выбор правильных хомутов для дренажных труб зависит от диаметра и формы крепежа;
                    li Хомуты для дерева – регулируемые тиски, которые чаще всего используются для скрепления нескольких досок с целью достижения более прочного соединения во время приклеивания кромок. Принцип выбора совпадает и с другими видами хомутов. Важно грамотно подойти к расчету диаметра крепежа, чтобы обеспечить достаточно надежный охват трубы;
                    li Для шлангов высокого давления применяются червячные и силовые хомуты. Универсальные фиксируются болтами, проволочные изготавливают из оцинкованной стали, ленточные также затягиваются болтами, для силовых хомутов делают болтовую стяжку с двух сторон;
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/kovka-metalla.jpg' alt='ковка металла')
                h3 Виды хомутов по типу материала
                ul
                    li Хомуты из нержавеющей стали применяются чаще всего в местах, где они могут подвергаться коррозии или окислению. Негативные факторы окружающей среды играют роль при выборе материала хомута. Повышенная жесткость и устойчивость хомутов из нержавеющей стали – лучший вариант долговечного крепежа данного типа. Исключением может быть только воздействие на хомут солей и других микроэлементов;
                    li Пластиковый тип хомутов для труб - отличный вариант в местах, где требуется определенная степень гибкости. Актуально для прокладки разных типов кабелей, которые меняются в разное время года. Это удобный вариант для недолговечного соединения. Пластиковые типы хомутов преимущественно производят из ПВХ. Этот материал в целом устойчив к электрической проводимости, термическим ударам и изменению цвета под воздействием УФ-излучения. Пластиковые хомуты используются из-за их влагостойкости и ряда других износостойких свойств. Пластиковые хомуты лучше всего подходят для монтажа внутри помещений, где важно сохранить домашний декор или не испортить эстетичность стен. Небольшие пластиковые хомуты имеют форму полукруга. Их загибают для удержания труб или кабелей. Получается, хомут не полностью охватывает весь диаметр трубы;
                    li Хомуты для медных типов труб подходят для использования в системах водопровода внутри помещений. Для производства таких хомутов используют исключительно жесткую медь, которая не подвергается воздействию воды и остается нетоксичной на протяжении десятилетий при использовании в водопроводных системах. 
                        p Медные хомуты для типов труб не подвержены коррозии под воздействием остаточной влаги. Привлекательный эстетичный вид, относительная стойкость, отличные  термические свойства присущи медным конструкциям. Медь способна противостоять постоянному расширению и сжатию, за счет чего увеличивается срок их службы в системах горячего и холодного водоснабжения;
                    li Хомуты из латуни популярны за счет своей износостойкости. Латунные хомуты изготавливают из меди и цинка, поэтому считаются антикоррозийными. Они не ржавеют и не обесцвечиваются даже после длительного воздействия воды, устойчивы к воздействию солей, микроэлементов, нарушениям водного баланса. Также латунные крепежи огнестойкие, поэтому их можно использовать в суровых условиях с рисками воспламенения. Латунь обладает такой же хорошей термопластичностью и проводимостью для увеличения эксплуатационного срока хомутов;
                    li Хомуты из хрома актуальны практически в любых условиях окружающей среды. Сфера применения такая же, как и нержавеющей стали. Надежность хромированных хомутов обусловлена устойчивостью к коррозии, атмосферным воздействиям. Поэтому их применяют, как для наружных, так и внутренних работ. Качество и толщина слоев покрытия определяют долговечность и прочность крепежа. Если же для производства хомута использовали тонкие пластины, существуют риски появления дефектов и пузырей при негативном воздействии окружающей среды. Рассматривая высококачественные хромированные крепежи, они могут прослужить даже дальше нержавеющей стали в одинаковых условиях окружающей среды;
                .product__body-service
                    h3=info.service.title
                    each p in info.service.text
                        p=p