extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Медные трубы

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/mednye-truby.jpg' alt='медные трубы')
                .product__header-text
                    p=info.supText
                    each phone in info.phones
                        a(href='tel:' + phone)=phone
                    span=info.time
                    p=info.subText

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Медные трубы используются в строительстве трубопроводов. Они составляют серьёзную конкуренцию металлическим и пластиковым изделиям. Соответствуя ГОСТ, медные трубы используются в гидравлическом и холодильном оборудовании, для транспортировки газа и сжатого воздуха, в гидравлических и холодильных системах. Это обуславливается особенностями меди: прочностью, устойчивостью к воздействию коррозии и хлора, непроницаемостью для рабочих жидкостей, в том числе масел и жиров.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/mednye-truby-2.jpg' alt='виды медных труб')
                h3 Чем различаются медные трубы
                p Характеристики и разновидность труб определяется сферой применения. Они отличаются сечением и размерами, десятками других характеристик. В бытовом оборудовании используются трубы из следующих разновидностей меди:
                ul
                    li Отожжённой;
                    li Неотожжённой;
                p В отличие от не прошедших термическую обработку труб, отожженные прочнее и проще в монтаже.
                p Сечение. Помимо стандартного квадратного сечения медные трубы изготавливаются прямоугольными и плоскоовальными. Изделия с прямоугольным сечением из-за нестандартности формы сложнее в изготовлении. Они используются в изготовлении проводников статорных обмоток для электрических машин, охлаждаемых жидкостным методом.
                p Назначение. Сфера применения определяет характеристики медных труб. Они используются в следующих сферах:
                ul
                    li В системах водоснабжения, отопления, транспортировки газа;
                    li В бытовых и промышленных кондиционерах, холодильниках, морозильниках;
                    li В тепловых насосах, гелиосистемах, теплообменных аппаратах;
                    li В радиолокационном оборудовании;
                    li В производстве тканепечатных валов, кристаллизаторов, индукционных катушек;
                p Материалы изготовления, нормативы. Трубы изготавливаются в соответствии с российскими стандартами - ГОСТ, ТУ - и заграничными - EN, ASTM. Для производства используются сплавы меди разных марок, в том числе легированные другими материалами (цинком, оловом, алюминием и др.) и бескислородные сплавы с содержанием фосфора. Применяется медь разных степеней жесткости, определяющая назначение медных труб:
                ul
                    li Мягкие. Используются в системах «лучевого» распределения;
                    li Полутвёрдые. Для изменения геометрии таких труб используется трубогиб;
                    li Твёрдые. Применяются в магистралях с повышенными требованиями к прочности;
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/mednye-truby-3.jpg' alt='виды изоляции медных труб')
                h3 Вид изоляции
                p Медные трубы имеют изоляцию разных видов. Некоторые из них поставляются без изоляции, другие - с изоляцией, изготовленной из следующих материалов:
                ul
                    li ПВХ. Такая изоляция устойчива к механическому, химическому воздействию. Препятствует возникновению коррозийных процессов;
                    li Вспененный полиуретан. Теплоизоляция наносится в заводских условиях. Используются на медных трубах, предназначенных для трубопроводов с высокими требованиями к теплосбережению;
                    li ПЭ (полиэтиленовая оболочка). Используется на медных трубах, предназначенных для систем питьевого водоснабжения, отопления;
                p Способ монтажа. Медные трубы соединяются разными способами. Иногда для этого применяется раструбная капиллярная пайка, при которой концы труб предварительно нагревают. Чаще для монтажа используются фитинговые соединения из бронзы и латуни. Соединения бывают следующих видов:
                ul
                    li Самофиксирующие;
                    li Резьбовые;
                    li Фланцевые компрессионные;
                p Для всех них существуют разные фитинги стандартных размеров, подходящие ко всем видам медных труб.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/mednye-truby-4.jpg' alt='размеры и диаметр медных труб')
                h3 Размеры и диаметр медных труб
                p Наибольшим спросом пользуются трубы диаметром 10-22 мм - они применяются в водоснабжающих системах. Трубы диаметром 32-42 мм используются в системах слива.
                p Обычно диаметр медных труб обозначается дробно, например, 14/1. В соответствии с ГОСТ такое обозначение определяет внешний диаметр медных труб и толщину стенок в миллиметрах. Трубы 14/1 имеют наружный диаметр 14 мм, внутренний - 13 мм, толщину стенок - 1 мм.
                .product__body-service
                    h3=info.service.title
                    each p in info.service.text
                        p=p