extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Полипропиленовые трубы

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/polipropilenovye-truby.jpg' alt='полипропиленовые трубы')
                .product__header-text
                    p=info.supText
                    each phone in info.phones
                        a(href='tel:' + phone)=phone
                    span=info.time
                    p=info.subText

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                h3 Трубы полипропиленовые. Виды и технические характеристики
                p Далеко не всем известно, что в настоящее время существует много видов полипропиленовых труб, отличающихся техническими характеристиками, качеством, назначением и цветом. А ведь данные изделия всё чаще используются для обустройства внутридомовых водопроводных сетей, и, практически, вытеснили стальные аналоги. На их основе можно создавать инженерные коммуникации с повышенной температурой рабочей среды – системы горячего водоснабжения и отопления.
                h3 Маркировка полипропиленовых труб
                p Первое, на что необходимо обратить внимание при выборе данных изделий — какая у них маркировка. Дело в том, что технические характеристики полипропиленовых труб отличаются от модификации к модификации. А этот фактор накладывает существенные ограничения на сферу их применения. В частности, не все они способны работать при значительном давлении и высокой температуре.
                p Существующая сегодня стандартизованная классификация полипропиленовых труб подразделяет такую продукцию на 4 группы. Их обозначение содержит латинские литеры PN и две цифры. Это число отображает, на какое давление рассчитаны трубы из полипропилена.
                p <b>PN10</b>. Системы, собранные на основе изделий данной группы, выдерживают давление до 10 атмосфер. Ответ на вопрос в отношении максимальной температуры рабочей среды однозначен: + 45˚С. Эти цифры указываются на поверхности труб. С помощью трубной продукции данного типа создают коммуникации для транспортировки лишь холодных жидкостей. Основное отличие — тонкие стенки. «Благодаря» таким техническим характеристикам трубы из полипропилена группы PN10 не нашли широкого применения для прокладки трубопровода в квартирах.
                p <b>PN16</b>. Полипропиленовые трубы, обозначенные такой последовательностью символов, выдерживают давление до 16 атмосфер, по ним можно транспортировать жидкость с температурой +60˚С. Эти полипропиленовые трубы можно выбрать исключительно для «холодных» магистралей. Помимо того, им присущ достаточно высокий коэффициент температурной деформации, что в напорных трубопроводах отопления и горячего водоснабжения неприемлемо.
                p <b>PN20</b>. Какое давление выдержит труба из полипропилена, в обозначении которой присутствует такое сочетание символов, мы уже знаем – 20 атмосфер. И температура воды +95˚С им не страшна. Технические характеристики полипропиленовых труб PN20 допускают их применение в горячем водоснабжении.
                p <b>PN25</b>. Это уже полноценные трубы для отопления из полипропилена. Температура теплоносителя может достигать +95˚С. Ответ на вопрос, какое давление держит труба из полипропилена типа PN25, ясен — 25 атмосфер. В качестве сырья для их изготовления используется композитный материал с армирующими вставками. Таковыми могут быть капроновое волокно или алюминиевая фольга. Оба вида прослойки не только улучшают прочностные характеристики полипропиленовых труб, но и снижают температурную деформацию. Даже при транспортировке воды с предельно допустимой температурой под высоким давлением их линейные размеры не изменятся. Поэтому армированные изделия нашли широкое применение в напорных трубопроводах. Ещё один немаловажный фактор: по сравнению с толстостенной трубой из полипропилена, устанавливаемой в аналогичных магистралях, потери тепла в металлопластиковых изделиях в два раза ниже. А вот по уровню морозостойкости эти типы труб сопоставимы.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/preimushchestva-i-nedostatki.jpg' alt='преимущества и недостатки')
                h3 Плюсы и минусы полипропиленовых труб
                p Технические характеристики полипропиленовой трубы, сделавшие её одним из самых востребованных видов стройматериалов, обусловлены удивительными свойствами этого полимера.
                p Какие же особенности полипропиленовых труб выделяют эксперты? Их несколько:
                ul
                    li Срок службы порядка 50 лет. А при использовании только в холодном водоснабжении, как утверждают производители, – все 100;
                    li Препятствуют формированию твёрдых отложений. Такая характеристика труб из полипропилена обусловлена применением на стадии производства специальной технологии обработки внутренней поверхности;
                    li Шумоизоляция. Это свойство присуще даже трубе полипропиленовой напорной, в которой перемещение жидкости под высоким давлением может вызвать неприятные для человеческого уха вибрирующие и урчащие шумы;
                    li Отсутствие конденсата. Обусловлено это низкой теплопроводностью полипропиленовых труб;
                    li Малый вес. Значение данной характеристики полипропиленовой трубы в 9 раз меньше величины аналогичного параметра металлического изделия;
                    li Лёгкость монтажа. Но если вы занялись этим делом впервые, следует прислушаться к советам профессионалов. В частности уделите особое внимание времени нагрева полипропиленовых труб при их соединении сваркой;
                    li Не нуждаются в дополнительном обслуживании;
                    li Устойчивы к воздействию химически агрессивных кислотно-щелочных соединений;
                    li Высокая эластичность;
                    li Доступная стоимость. Выбрать такие изделия можно в любом ценовом диапазоне;
                p Не последнюю роль в высокой востребованности с учётом особенностей климата нашей страны играет морозостойкость труб из полипропилена, обусловленной их низкой теплопроводностью.
                p Выше были указаны плюсы полипропиленовых труб. Но, как всегда, без минусов здесь тоже не обходится. Основные из них такие:
                ul
                    li Достаточно высокое линейное расширение. Трубы неармированные из полипропилена при монтаже требуют применения специальных компенсаторов;
                    li Низкая термостойкость. Независимо о того, какие полипропиленовые трубы выбраны, необходимо сразу подыскать утеплитель. Особенно это актуально для систем отопления;
                    li Плохая способность деформации. Изменить направление трубы без использования дополнительной арматуры невозможно;
                    li Слабая устойчивость к воздействию прямого солнечного света. Хоть достижение максимальной температуры для полипропиленовых труб это явление не вызывает, но сопровождается оно преждевременным ускоренным старением материала;
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/tri-puti.jpg' alt='три пути')
                h3 Как выбирать полипропиленовые трубы
                p Для правильного подбора данных изделий необходимо принять во внимание пять моментов. Маркировка полипропиленовых труб уже обсуждалась, поэтому остаются 4 важных фактора.
                ul
                    li Максимальная температура. Выбор следует делать, исходя из предполагаемого значения этого параметра теплоносителя с учётом маркировки полипропиленовых труб. Как было сказано выше, PN25 – лучший выбор для систем отопления, PN20 – для горячего водоснабжения, PN16 – для систем подвода холодной воды;
                    li Диаметр. Подбирать его необходимо с учётом технических характеристик создаваемой трубопроводной системы. Лучшими полипропиленовыми трубами для квартирной разводки считаются изделия с диаметром 20 и 25 миллиметров. Для стояков же лучше применять изделия с сечением 32 или 40 миллиметров. Толстостенную полипропиленовую трубу большого диаметра используют для магистрального трубопровода, монтируемого в подвале многоквартирного дома;
                    li Предельно допустимое давление. Если говорить об использовании в быту, то подходят практически все типы труб, включая изделие марки PN10. Как связан срок их службы с давлением и температурой, рассмотрим на примере этой трубы:
                        ul
                            li Температура воды 20˚С. Срок службы составит не менее 50 лет, если давление в центральной магистрали не превысит отметку в 10 атмосфер;
                            li Температуры воды 50˚С. В этом случае, чтобы срок службы составлял 50 лет, необходимо выдерживать давление, не превышающее 2-x атмосфер;
                            li температура воды долго держится на уровне 70-95˚ С. В этом случае о сроке службы 50 лет не может быть и речи. Максимум – это какие-то 5 лет при постоянном давлении не привышающем 2 атмосферы;
                p Коэффициент температурного расширения. Мы уже знаем, что полипропиленовые трубы — это такие изделия, геометрия которых меняется при высокой температуре транспортируемой жидкости. Изменения касаются толщины их стенок. А это критично для такого параметра, как пропускная способность трубопровода.
                p Трубу типа PN20 закрыто прокладывать не рекомендуется. Ведь её деформация может вызвать появление трещин в слое штукатурки. А вот применение полипропиленовых труб типа PN25 позволяет выполнять укладку и закрытым, и открытым способом. В последнем случае интерьер жилого помещения не ухудшится по причине отсутствия изгиба данных изделий. Ведь труба армированная из полипропилена отлично держит свою форму.
                p Что касается срока службы полипропиленовых труб, то при правильном использовании каждая из них прослужит не менее пяти десятков лет.
                h3 Сортамент полипропиленовых труб
                p Данный сегмент мирового рынка представлен следующими разновидностями полипропиленовых труб:
                ul
                    li PPH. Это самые простые полипропиленовые изделия и всех тех, какие только выпускает современная промышленность. Предназначены они для создания систем подвода холодной воды, промышленных трубопроводов, а также вентиляционных систем;
                    li PPB. Такая разновидность сортамента трубного проката производится из сложного блоксополимера полипропилена. Эти изделия нашли применение в напорных системах подачи холодной воды и отопления. Но используются они не только в качестве труб напорных из полипропилена. Из них изготавливаются высокопрочные ударные соединительные элементы;
                    li PPR. Для производства применятся рандомсополимер полипропилена. На основе данной разновидности труб создаются системы, как горячего, так и холодного водоснабжения, в том числе водяные тёплые полы;
                    li PPs. Это отдельный вид сортамента трубного проката, В качестве сырья для его изготовления используется сложно воспламеняющийся высокопрочный полимер. Рабочая максимальная температура полипропиленовых труб типа PPs составляет +95˚С. По мнению экспертов, это лучший вариант однослойного (неармированного) изделия для систем отопления;
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/polipropilenovye-truby-2.jpg' alt='полипропиленовые трубы')
                h3 Цвет полипропиленовых труб
                p Сортамент полипропиленового трубного проката представлен изделиями четырех цветов. Они бывают белые, серые, чёрные и зелёные. На основе белых или серых полипропиленовых труб монтируются различные инженерные коммуникации, начиная от водопровода и заканчивая индивидуальной системой отопления.
                p Однако, минусом именно белых труб является невозможность эксплуатации в условиях улицы, поскольку такие изделия характеризуются невысокой морозостойкостью. Уже при температуре 0˚С применяемый для их изготовления вид полипропилена начинает кристаллизоваться.
                p Серые трубы обладают следующими преимуществами:
                ul
                    li Возможность эксплуатации в напорных системах;
                    li Термическая и химическая устойчивость;
                    li Длительный эксплуатационный срок;
                    li Экологичность;
                    li Герметичность;
                p Кроме того, серые трубы из полипропилена прекрасно соединяются обычным паяльником.
                p Из существующего сортамента данных изделий для создания канализации, а также дренажных систем рекомендуется использовать чёрные трубы из полипропилена. Вносимые в сырьё на стадии производства добавки, повышают их технические возможности. Из преимуществ пластиковых чёрных труб стоит выделить:
                ul
                    li Устойчивость к различным агрессивным средам;
                    li Неподверженность воздействию УФ-излучения;
                    li Высокая прочность;
                    li Заявленный производителем срок эксплуатации полностью выдерживается;
                p В настоящее время многих владельцев загородных участков интересует вопрос, какие полипропиленовые трубы лучшие для полива. Ответ однозначен: зелёного цвета. Продаются они по такой низкой цене, что огородники просто могут не обращать внимания на прочностные характеристики данных изделий.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/gofrirovannye-truby-2.jpg' alt='гофрированные трубы')
                h3 Трубы гофрированные из полипропилена
                p Такие изделия большого диаметра применяются для строительства систем водоотведения, канализации, отвода дождевых осадков (ливнёвка) и грунтовых вод (дренаж).
                p Предполагаемое для полипропиленовой гофрированной трубы максимальное значение температуры постоянных стоков — порядка +60˚С, а кратковременных до +100˚С., что бывает редко. Прокладываются трубопроводы, создаваемые на основе данной продукции, бестраншейной прокладкой и в открытые траншеи, а организация переходов осуществляется при помощи железобетонных колодцев. Причём никаких других конструкций, а также специальной техники для укладки и монтажа гофротруб большого диаметра не требуется.
                p Современные предприятия в настоящее время освоили выпуск двухслойных гофрированных труб из полипропилена. Из их преимуществ стоит выделить:
                ul
                    li Высокая кольцевая жёсткость;
                    li Химическая и коррозионная стойкость;
                    li Противостоят воздействию блуждающих токов. Диэлектрические свойства выгодно отличают данные изделия от металлических аналогов. Ведь те, будучи проложенными поблизости от кабельных трасс, из-за воздействия электрохимической коррозии подвержены ускоренному старению;
                    li Высокая пропускная способность;
                    li Повышенная устойчивость к гидроабразивному износу;
                    li Продолжительный срок эксплуатации;
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/svarka-polipropilenovykh-trub.jpg' alt='сварка полипропиленовых труб')
                h3 Особенности сварки полипропиленовых труб
                p Для сваривания изделий данного типа используется способ термической полифузии. Заключается он в нагреве свариваемых частей с последующим их быстрым соединением. Выполняется эта процедура с помощью специального паяльника. Некоторые производители таких инструментов оснащают их сразу двумя нагревательными элементами, мощности которых хватает для нагрева труб конкретного диаметра. Казалось бы, это плюс. Но не в данном случае.
                p Время нагрева зависит от:
                ul
                    li Диаметра трубы;
                    li Ширины сварочного пояса;
                    li Температуры окружающей среды. Она не должна выходить за пределы нормы;
                p Материал после нагрева сохраняет пластичность очень короткое время. За несколько секунд нужно успеть зафиксировать соединение, одновременно избавляясь от перекосов. Оптимальной температурой для разогрева считается отметка +260˚С. Для обеспечения надёжного соединения материал трубы необходимо прогреть достаточно сильно. Но чрезмерный нагрев может вызвать потерю формы. Поэтому следует контролировать время выполнения данной операции. В зависимости от сечения труб оно составляет:
                ul
                    li 8…9 секунд для труб сечением 20 миллиметров;
                    li 9…10 секунд, если свариваются трубы диаметром 25 миллиметров;
                    li 10…12 секунд при сварке труб диаметром 32 миллиметра и т.д;
                p Нагретые и уже соединённые трубы необходимо правильно остудить. Фиксация требует столько же времени, как и фаза нагрева. Если поспешить и прекратить выполнение этой процедуры раньше положенного времени, возникнет деформация соединения. Сварка полипропиленовых труб – относительно непростой процесс. Критичным является не только несоблюдение времени нагрева, но и невыполнение правил пайки. Основные из них следующие:
                ul
                    li Во время работы сварочный аппарат всё время должен находиться во включённом состоянии;
                    li Обязательное нанесение на поверхность трубы разметки с целью обеспечения должной глубины сварочного шва;
                    li Соединяемые элементы должны подвергаться нагреву одновременно;
                p Узнав, какими бывают полипропиленовые трубы, большинство наших соотечественников предпочитают покупать именно такие изделия. Вложенные деньги окупятся сторицей за счёт многих факторов. В частности низкая теплопроводность материала позволяет отказаться от покупки и монтажа теплоизоляции. При этом экономия тепла во время транспортировки теплоносителя составляет порядка 20%. То есть расход газа в автономной системе отопления тоже можно уменьшить.
                //- .product__body-images
                //-     .product__body-group
                //-         img(src='/assets/product/img/besshovnye-goryachedeformirovannye-truby.jpg' alt='бесшовные горячедеформированные трубы')
                .product__body-service
                    h3=info.service.title
                    each p in info.service.text
                        p=p