extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Стальные трубы

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/stalnye-truby.jpg' alt='стальные трубы')
                .product__header-text
                    p=info.supText
                    each phone in info.phones
                        a(href='tel:' + phone)=phone
                    span=info.time
                    p=info.subText

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Среди всей трубопроводной продукции именно стальные трубы пользуются огромной популярностью. В зависимости от того, для каких целей и в какой сфере они применяются, стальная трубная продукция бывает несколько видов.В данной статье кратко ознакомимся с наиболее востребованными видами стальных труб, укажем, по каким стандартам они изготовляются, и обозначим области промышленности, в которых их принято использовать.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/pryamoshovnye-ehlektrosvarnye-truby.jpg' alt='прямошовные электросварные трубы')
                h3 Прямошовные электросварные трубы
                p Производится данный вид стальных труб согласно стандарту ГОСТ 10704-91. В случае же изготовления трубных изделий с усиленным швом учитываются другие стандарты, а именно ГОСТ 10706. Согласно данным государственным стандартам, стальная трубная продукция подразделяется на несколько типоразмеров:
                ul
                    li Трубы, имеющие наружный диаметр 10-1420 мм и толщину стенок от1 до32 мм;
                    li Изделия с наружным диаметром до426 мм, выпускаемые в немерной имерной длине;
                    li Трубы с большим диаметром выпускаются только в немерной длине;
                p Основной особенностью данного вида труб из стали является наличие прямого шва, расположенного параллельно оси трубы с внутренней ее стороны.
                p Как правило, из прямошовныхтруб создаются технологические трубопроводы, по которым проходит рабочая среда при умеренном давлении. При этом они активно используются всоздании различных металлоконструкций.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/spiralnoshovnye-ehlektrosvarnye-truby.jpg' alt='спиральношовные электросварные трубы')
                h3 Спиральношовные электросварные трубы
                p Такие трубы регламентируются ГОСТом 8696-74 и отличаются от прямошовных методом изготовления: во время литья заготовки скручиваются по спирали, что обеспечивает готовым трубным изделия свойство выдерживать высокое давление рабочей среды. Такие изделия имеют наружный диаметр от159 до 2520 мм, толщину стенок 3,5-25 мм, а длина готовых изделий может варьироваться от 10 до 12 м.
                p Во избежание технологических ошибок и аварий в законодательстве указано, что спиральношовный тип стальных труб не предназначен для применения при прокладывании магистральных трубопроводов и нефтегазопроводов. Но они успешно могут быть использованы на теплотрассах и водопроводах.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/besshovnye-goryachedeformirovannye-truby.jpg' alt='бесшовные горячедеформированные трубы')
                h3 Бесшовные горячедеформированные трубы
                p Изготовление данного вида стальных труб осуществляется с учетом требований ГОСТа 8732-78, в котором указаны их размеры: диаметр от 20 до 550 мм, толщина стенок от 2,5 до 75 мм, длина от 4 до 12,5 м. Такой внушительной толщины стенок удается добиться благодаря применяемому способу изготовления.
                p Преимущественно бесшовные трубы применяют:
                ul
                    li В случаях, когда в ходе эксплуатации трубопровода недопустимы даже малейшие утечки рабочей среды через шов, что особенно актуально для химической и нефтегазовой промышленности;
                    li Когда рабочая среда проходит через трубы под высоким давлением. Сюда относятся нефтегазовая промышленность и энергетические системы;
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/besshovnye-kholodnodeformirovannye-truby.jpg' alt='бесшовные холоднодеформированные трубы')
                h3 Бесшовные холоднодеформированные трубы
                p Производство таких труб контролируется ГОСТом 8734-75, согласно которому данный вид трубной продукции имеет наружный диаметр от 5 до 250 мм, толщину стенок от 0,3 до 24 мм, длину от 1,5 до 11,5 м. Их отличительной чертой является то, что при минимальной толщине стенок бесшовные холоднокатанные трубы обладают чрезвычайной прочностью и способны выдерживать высокое давление.
                p Как уже было сказано, бесшовные трубы принято использовать в тех случаях, когда необходима особая надежность и прочность, а также при которых нельзя допустить и малейшей утечки рабочей среды. Но в отличие от горячедеформированных труб, холоднокатанные чаще всего применяются в тех отраслях, гдеценится не просто высокая прочность, но и минимальный вес. Поэтому они применяются в машиностроении, ракетостроении, авиации, химической и фармацевтической промышленности.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/vodogazoprovodnye-truby.jpg' alt='водогазопроводные трубы')
                h3 Водогазопроводные трубы
                p Данный вид труб производится с учетом требований стандарта ГОСТ 3262-75 и представляет собой привычные прямошовные трубы, предназначенные для монтажа инженерных систем, по которым должна проходить под умеренным давлением рабочая среда. Они легкие, усиленные и отличаются только толщиной стенок – 1,8-5,5 мм при наружном диаметре 10,2-165 мм. А длина труб для прокладывания водопроводов и газопроводов может варьироваться от 4 до 12 метров.
                p Из названия понятно, что водогазопроводная труба предназначена исключительно для прокладывания водо- и газопроводов.
                .product__body-service
                    h3=info.service.title
                    each p in info.service.text
                        p=p