extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Уплотнительные ленты

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/uplotnitelnye-lenty.jpg' alt='уплотнительные ленты')
                .product__header-text
                    p=info.supText
                    each phone in info.phones
                        a(href='tel:' + phone)=phone
                    span=info.time
                    p=info.subText

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Лента уплотнительная межфланцевая используется для повышения герметичности швов при фланцевом соединении элементов и отдельных секций систем вентиляции, а также приточно-вытяжных установок. Помимо обеспечения герметичности стыков, применение межфланцевой ленты позволяет значительно снизить шум и вибрацию воздуховода.
                p Самоклеящаяся уплотнительная межфланцевая лента характеризуется крайне низкой впитывающей способностью, не превышающей 2% от ее собственного веса. Лента устойчива к УФ-лучам, воде, кислороду, маслам, химически активным средам и может эксплуатироваться в температурном диапазоне от -50 °C до +100 °C, сохраняя при этом пластичность, гибкость и высокую прочность.
                p С одной стороны на межфланцевую самоклеящуюся ленту нанесен клеевой состав, обеспечивающий легкость и удобство ее фиксации. В процессе монтажа воздуховода или другой конструкции самоклеящаяся уплотнительная межфланцевая лента закрепляется по периметру каждой шинорейки, поверхность которой предварительно очищается и тщательно обезжиривается.
                .product__body-service
                    h3=info.service.title
                    each p in info.service.text
                        p=p