extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Виброопоры

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/vibroopory.jpg' alt='виброопоры')
                .product__header-text
                    p=info.supText
                    each phone in info.phones
                        a(href='tel:' + phone)=phone
                    span=info.time
                    p=info.subText

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Виброопоры позволяют существенно снизить вибрацию и шумы при эксплуатации вентиляционных систем.
                p Виброгаситель позволяет производить монтаж воздуховода при помощи шпилек с резьбой М8
                p Кронштейн с виброгасителем выполнен из стального оцинкованного листа толщиной 2 миллиметра. Имеет высоту 66 миллиметров. 40 миллиметров составляет длина полки с виброопорой, а 32 миллиметра - длина полки для установки воздуховода.
                .product__body-service
                    h3=info.service.title
                    each p in info.service.text
                        p=p